/* ===== Theme Toggle (Navbar) ===== */
#theme-toggle-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 28px;

    cursor: pointer;
    user-select: none;

}

#toggle {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

#theme-toggle-button svg {
    width: 44px;
    height: 28px;
    display: block;
}

#theme-toggle-button:hover {
    filter: brightness(1.02);
}

#container,
#patches,
#stars,
#button,
#sun,
#moon,
#cloud {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.25s;
}

/* night sky background */
#toggle:checked+svg #container {
    fill: #2b4360;
}

/* move button to right when checked */
#toggle:checked+svg #button {
    transform: translate(28px, 2.333px);
}

/* show/hide sun and moon based on checkbox state */
#sun {
    opacity: 1;
}

#toggle:checked+svg #sun {
    opacity: 0;
}

#moon {
    opacity: 0;
}

#toggle:checked+svg #moon {
    opacity: 1;
}

/* show or hide background items on checkbox state */
#cloud {
    opacity: 1;
}

#toggle:checked+svg #cloud {
    opacity: 0;
}

#stars {
    opacity: 0;
}

#toggle:checked+svg #stars {
    opacity: 1;
}